@use "./../utils" as *;
@use "./../components" as *;

.menu{
  background: pink;

  &__link{
    display: block;
    padding: rem(8px);
    font-size: rem(18px);
    font-weight: 700;
  }

  @include mobile{
    background: $accent-opacity-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    backdrop-filter: blur(rem(4px));
    padding: rem(8px);
    transform: translateX(-150%);
    transition: all 300ms;

    &__item{
      border-bottom: 1px solid $silver;
    }

    &.is--active{
      transform: none;
    }
  }

  @include desktop{
    background: $secondary-color;
    padding: rem(16px) rem(24px);

    &__list{
      @include boxSizeMax;
      @include flexbox(row, space-between, center, nowrap);
      padding: rem(20px);
    }

    &__link{
      color: $white;
      text-shadow: 1px 1px 0 $black, -1px -1px 0 $black;
    }
  }
}
